name: CI Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      # --- PLAYWRIGHT ---
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright Tests
        run: npm run test

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

      # --- NEWMAN ---
      - name: Install Newman
        run: npm install -g newman newman-reporter-html

      - name: Run Newman Tests
        run: |
          npm run test:newman -- --reporters html --reporter-html-export newman-report.html

      - name: Upload Newman Report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman-report.html
